.my-card-wrapper{
    width: 23.75%;
    height: 50vh;
    display: flex;
flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid white;
    /* text-align: end; */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdfrT8Vjk9QJrwwSwwBUzizJ2vPTiZ9Y6lcA&s");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.my-card-wrapper img{
    width: 0.25rem;
    margin: 1rem;
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
}
.description
{padding: 0.5rem;
    margin:1rem  0.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(10px); 
   
}